.row
  .col-md-6.col-md-offset-3
    = link_to image_tag( 'frontpic.jpg', :class => "img-responsive center-block" ), root_path

.row
  .col-md-6.col-md-offset-3
    %p
      myotherskills.com is a place to list EVERYTHING you can do. It's not about your resume or job-related skills. It's about EVERY skill you have and can do.
    %p
      Can you juggle? Can you speak Greek? Can you yodel? Don't be shy.