$brand-primary: #FF9900;
$link-color: $brand-primary;
$link-hover-color: darken($link-color, 15%);
$font-family-base: 'Ubuntu', sans-serif;

// alerts
$state-info-bg: fadein($brand-primary);
$state-info-text: #fff;
$state-info-border: $brand-primary;

@import "font-awesome";
@import "twitter/bootstrap";

h1 {
	color: #44dd00;
	font-size: 1.5em
}
.navbar-brand{
 text-indent:-999px;
 width:202px;
 height:37px;
 padding:0;
 margin:5px 0 0 0;
 background:url(new_logo.gif)
 no-repeat center center;
}

hr {
	margin: 0px;
	border: 0px;
	color: #aaa;
	background-color: #aaa;
	height: 2px;
}

tr {
}
tr:nth-child(odd) {
    background-color: #eee;
}
tr:nth-child(even) {
    background-color: #fff;
}


.center{
  text-align: center;
}


